.App {
  text-align: center;
  margin:20px;
}

#image{
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
}
.onepiece{
  display: inline-block;
    margin-left: 100px;
    
    box-shadow:12px 12px 2px 1px rgba(16, 16, 24,0.08); 
    
}
h2{
  text-align: center;
  color: red;
  margin-top:20px;
}
h3{
  text-align: center;
}
img{
  width: 380px;
  height: 250px;
  
}

